<section class="photo" id="inicio">
    <div class="photo-text">
      <h4>FATEM</h4>
      <p>SISTEMA FALLAS TECNICAS MASIVAS</p>
    </div>
    <div class="inner-content">
        <div class="boxy">
          <div id="slider">
            <figure>
              <ul>
                <li>
                  <div class="photo-text">
                  <h4>Ultima Actualizacion</h4>
                  <p>23-01-2020 17:00:00</p>
                  <p>Version 1.0</p>
                  </div>
                </li>
              </ul>
            </figure>
          </div>
        </div>
      </div>  
      <div class="overlay"></div>
  </section>
  
  
  
  
  