<div class="row">
        <div class="side"></div>
        <div class="column column-double">
          <div class="row">
        <img  width="250px" height="100px"  src="/fatem-ui/assets/logo-telefonica-chile.png"  class="img-telef"  >
        <form id="form" class="login-form">
            <div class="texto">
                <h1> FALLAS TECNICAS MASIVAS </h1>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <img   src="/fatem-ui/assets/account.png"  class="img-telef"  >                    
                    <mat-form-field class="example-full-width col-sm-8">
                            <input  matInput [(ngModel)]="form.user" placeholder="Username"  name="user" required>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <img   src="/fatem-ui/assets/key.png"  class="img-telef"  >
                    <mat-form-field class="example-full-width col-sm-8" >
                        <input matInput  [(ngModel)]="form.password"  placeholder="Password"  type="password" name="password" required>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button  id = "boton" mat-raised-button  class="button" (click)="login()">
                        Login
                    </button>
                </div>
            </div>
            <div  *ngIf = "this.log.err!= null "  class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong *ngIf = "this.log.err==400">Usuario y/o Contraseña Invalidos. </strong> 
                    <strong *ngIf = "this.log.err==401">No autorizado. </strong> 
                    <strong *ngIf = "this.log.err==402">Los campos Usuario y Password son obligatorios. </strong>
                    <strong *ngIf = "this.log.err==403">Error de . </strong>
                    <strong *ngIf = "this.log.err==500">Error en el sistema. </strong> 
                    <strong *ngIf = "this.log.err==504">Tiempo de espera excedido. </strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    </button>
            </div>
            <ngx-spinner></ngx-spinner>
        </form>  

          </div>
        </div>
</div>


    
