
#form::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
  
 }

 #form::ng-deep .mat-form-field {
  .mat-input-element {
      color: white !important;
  }
  .mat-form-field-label {
      color: white !important;
  }

}

 #form::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
} 

#form::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: white !important;
 }

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #003245;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    }

    .column  {
      //z-index: 1;
      //display: flex;
      align-items: center;
      justify-content: center;
      .login-form {
          //padding: 40px;
          color: #fff;
          background: transparent;
          //width: 500px;
          box-shadow: 0 0 20px #ddd;
          input:-webkit-autofill {
              -webkit-box-shadow: 0 0 0 30px #003245 inset;
              -webkit-text-fill-color: white;
          }
          
      }
     

    }



.texto{
  padding: 10%;
}
.Portada {
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
}
#Fondo-Portada {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    //z-index: -100;
}
  $sombraC:rgba(56,38,56,1);


  .row{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  margin-right: 0%;
  margin-left: 0%;
  }

  .column{
  flex: 1;
  flex-direction: column;
  }
.column-double{
  flex-direction: column;
  flex: 2;
}
.side{
  flex: 0.3;
}
  h1 {
    color:#fff;
    margin: 0;
    @media (min-width: 600px) {}
      font-size: 3.5em;
  }

  #sombra{
    -webkit-box-shadow: 0px 15px 25px 0px $sombraC;
   -moz-box-shadow: 0px 15px 25px 0px $sombraC;
   box-shadow: 0px 15px 25px 0px $sombraC;
  }

  #letra{
      color: #fff;
      font-size:40px;	
      margin-top: 0px;
      padding-bottom: 10px;
  }
  #boton{
      background: #003245;
      width: 100px;
  }
  .img-thumbnail{
    border:600px ;
  
  }
.img-telef{
    margin: 10px;
}

i{
  color: #fff;
}
  
  .material-icons{
   font-size : 200%;
  }

.button,
.button::before,
.button::after,
.button span,
.button span::before,
.button span::after
{
  transition: all ease .5s;
}

.button{
  position: relative;
  display: inline-block;
  padding: 0.3em;
  margin: 1em;
  border: solid 1px;
  text-transform: uppercase;
  cursor: pointer;
  color: #ddd;
}

.button:hover
{
  box-shadow: 0 0 5em .5em rgba(50,50,150,0.5);
}

.button span
{
  display: inline-block;
  width: 100%;
  padding: 0.6em 2em;
}

.button:hover span
{
  background-color: #fff;
  color: #112;
}

.button::before,
.button::after,
.button span::before,
.button span::after
{
  content: '';
  position: absolute;
  border: 1px;
}

.button::before,
.button span::before
{
  border-style: solid none;  
}

.button::before,
.button span::after{      
  left: 0;
  top: -0.4em;
  width: 100%; 
  height: calc(100% + 0.8em);
}

.button::after,
.button span::after
{
  border-style: none solid;   
}

.button::after,
.button span::before
{
  top: 0;
  left: -0.4em;
  height: 100%;
  width: calc(100% + 0.8em); 
}

.button:hover::after,
.button:hover span::after
{
  transform: scaleY(0);
}

.button:hover::before,
.button:hover span::before
{
  transform: scaleX(0);
}

.button:hover span::after,
.button:hover span::before
{
  opacity: 0;
}




