<form>
    <div class="container">
        <div class="mat-elevation-z8"> 
                <div class= "col-lg-8" id="panelPrin"  >
                    <h1 id="letra">Creacion Marca Informativa</h1>
                </div>
                <div class="wrapper">
                    <div class="archivo col-sm-10">
                            <input [formControl]="fileSelect"[(ngModel)]="files"  type="file" id="img" name="img" (click)='fileData()'  required>
                    </div>
                    <div class="archivo col-sm-8">
                    <mat-error *ngIf="valid1==true && !fileSelect.valid">El archivo es obligatorio</mat-error>
                    </div>
                    <div class="archivo col-sm-8">
                                    <div class="input-group-prepend" >
                                      <label class="input-group-text">Zona</label>
                                    <select   [formControl]="zonaSelect"[(ngModel)]="opcionZona"  (change)="CapturaZona()" name='opcionZona' required >
                                        <option></option>
                                        <option *ngFor="let zona of zonas" [value]="zona.id" >
                                          {{zona.nombre}}
                                      </option>
                                    </select>
                                </div>
                                <mat-error *ngIf="valid2==true && !zonaSelect.valid">La zona es obligatoria</mat-error>
                            </div>

                    <div class="archivo col-sm-8">
                                    <div class="input-group-prepend">
                                      <label class="input-group-text" >Agencia</label>
                                    <select  [formControl]="agenciaSelect" [(ngModel)]="opcionAgencia" (change)="CapturaAgencia()"   name='opcionAgencia'required>
                                      <option></option>
                                        <option *ngFor="let agencia of agencias" [value]="agencia.id" >
                                          {{agencia.nombre}}
                                      </option>
                                    </select>
                                  </div>
                                  <mat-error *ngIf="valid3==true && !agenciaSelect.valid">La agencia es obligatoria</mat-error>
                    </div>
                    <div class="archivo col-sm-12">
                     <div class="input-group-prepend">
                        <label  class="input-group-text">
                            Observacion
                        </label>
                        <input [formControl]="observacion" [(ngModel)]="form.obs" id="input1"  type="text"  name="obs" maxlength="50" required>
                    </div>
                    <mat-error *ngIf="valid4==true && !observacion.valid">La observacion es obligatoria</mat-error>
                    </div>
                  <div class="archivo col-sm-8">
                      <div class="input-group-prepend" >
                        <label class="input-group-text">Tipo de Alarma</label>
                      <select  [formControl]="alarmaSelect" [(ngModel)]="opcionAlarma"  (change)="CapturaAlarma()" name="opcionAlarma" required >
                          <option></option>
                          <option *ngFor="let alarma of listTiposAlarma" [value]="alarma.idTipo" >
                            {{alarma.tipo}}
                          </option>
                      </select>
                    </div>
                    <mat-error *ngIf="valid5==true && !alarmaSelect.valid">La tipo de alarma es obligatoria</mat-error>
                  </div>
                <div class="archivo col-sm-8">
                    <div class="input-group-prepend">
                      <label class="input-group-text">Servicios Afectados</label>
                      <mat-select 
                      name="servicio" 
                      class="filter-select" 
                      [(ngModel)]="selectedServicio" 
                      multiple 
                      #servicioSelect="ngModel">
                      <div class="input-group-prepend">
                        <input  type="checkbox"(click)="selectAll(checkAll.checked, servicioSelect, listServicio)" #checkAll required>
                      </div>
                      <mat-option  *ngFor="let servicio of listServicio" (click)="select()" [value]="servicio">
                              {{servicio.nombre}}
                      </mat-option>
                    </mat-select>
                    </div>
                    <mat-error *ngIf="valid6==true && (servicioSelect.value==null || servicioSelect.value=='')">Al menos debe seleccionar un servicio</mat-error>
                </div>
                  <div class="archivo col-sm-6">
                    <label class="input-group-text">Fecha Programada:</label>
                        <div class="input-group-prepend">
                          <mat-form-field class="example-full-width" >
                            <input matInput [matDatepicker]="picker1" [(ngModel)]="form.fechaInicio"   placeholder="Fecha Inicio"   name="fechaInicio" disabled >
                            <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                            <mat-datepicker disabled = "false" #picker1></mat-datepicker>
                        </mat-form-field>
                        <div class="group">
                          <div class="input-group-prepend">
                            <input class ="hora" disabled [owlDateTime]="dt" [(ngModel)]="form.horaInicio" name="horaInicio" placeholder="00:00">
                            <img class="normal"src="/fatem-ui/assets/time.png" [owlDateTimeTrigger]="dt"  [disabled]="false">
                      </div> 
                      <owl-date-time #dt [disabled]="false"
                          pickerType="timer">
                        </owl-date-time>                     
                        </div>    
                      </div>                    
                  <mat-error *ngIf="valid7==true && form.fechaInicio==''">Fecha Inicio Invalida</mat-error>
                  </div>
                  <div class="archivo col-sm-6">    
                        <div class="input-group-prepend">
                          <mat-form-field class="example-full-width" > 
                            <input matInput  [matDatepicker]="picker2"   [(ngModel)]="form.fechaFin"  placeholder="Fecha Fin"  name="fechaFin"disabled >
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                        </mat-form-field>
                        <div class="group">
                          <div class="input-group-prepend">
                            <input class ="hora" disabled [owlDateTime]="dt1" [(ngModel)]="form.horaFin" name="horaFin" placeholder="00:00">
                            <img class="normal" src="/fatem-ui/assets/time.png" [owlDateTimeTrigger]="dt1"  [disabled]="false">
                      </div>
                        <owl-date-time #dt1 [disabled]="false"
                          pickerType="timer">
                        </owl-date-time>
                      </div>
                      </div>
                      <mat-error *ngIf="valid8==true && form.fechaFin==''">Fecha Fin Invalida</mat-error>
                  </div>   
                  <div  *ngIf = "this.error!= null && this.error!=0"  class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong *ngIf = "this.error==402">Observacion requerida </strong> 
                        <strong *ngIf = "this.error==403">Sericios no seleccionados </strong> 
                        <strong *ngIf = "this.error==404">Peso del archivo o nombre incorrecto </strong> 
                        <strong *ngIf = "this.error==410">Fecha Inicio mayor a Fecha Fin </strong> 
                        <strong *ngIf = "this.error==411">Maximo fecha 6 meses </strong> 
                        <strong *ngIf = "this.error==412">Fecha Fin no puede ser inferior a hoy </strong> 
                        <strong *ngIf = "this.error==413">Fecha Fin no puede ser inferior a hoy y la hora debe ser superior a la actual</strong> 
                        <strong *ngIf = "this.error==415">Extencion de archivo no permitida </strong> 
                        <strong *ngIf = "this.error==416">El archivo contiene mas de 20.000 registros </strong> 
                        <strong *ngIf = "this.error==420">Debe Ingresar los campos que estan vacios</strong> 
                        <strong *ngIf = "this.error==500">Error MarkService </strong> 
                        <strong *ngIf = "this.error==504">Time-out </strong> 
                  </div>  
                  <div *ngIf = "this.exito== true" class="alert alert-success" role="alert">
                    <strong *ngIf = "this.alert==200">Se ha creado la alarma Exitosamente! </strong> 
                  </div>
                </div>  
                <div class="botones">
                          <button class="col-sm-2"  mat-raised-button  (click)="Guardar()">
                              <img src="/fatem-ui/assets/guarda.png">
                          </button>
              
                          <button class="col-sm-2"  mat-raised-button  (click)='limpiar()'>
                              <img src="/fatem-ui/assets/bote.png">
                          </button>
                      </div>                              
      </div>
      </div>
    </form>
    <ngx-spinner></ngx-spinner>
