.archivo{
    margin:2%;
}
.input-group-text{
  background: #003245;
  color: white;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	box-shadow: 5px 5px 5px #555;
	background: lightgray;
	border-radius: 15px;
	padding: 5px;
}




.input-group{
  width: 40%;
}

.input-group {
  width: 60%!important;
}
.input{
    width: 50%;
}


.mat-elevation-z8{
    padding-top: 15%;
    background:#EDEBEA;
    width: 100%;
    padding: 2%;

    #scroll{
        overflow-x:scroll;

    }
    
    td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
        padding: 1%;
 
    }
        .mb-20 {
            margin-bottom: 20px;
            padding-top: 5%;
            width: 100%;
        }
        .mat-table {
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }
        table {
            width: 100%;
        }
        th{
            background: #003245;
            color: #EDEBEA;
            font-size: 15px;
        }

}

mat-paginator{
    font-size: 15px;
}

.mat-elevation-z8{
    padding-top: 15%;
    background:#EDEBEA;
    width: 100%;
    padding: 2%;
    };

    mat-expansion-panel{
      margin: 1%;
    }
   
    .botones{
      text-align: center;
    }
    .mat-expansion-panel-content{
      background: whitesmoke;
    }
    .content {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .login-form {
            padding: 40px;
            width: 500px;
        }
    }
    
    mat-form-field{
    
      width: 300px;
      text-align: center;
    }
    
      #letra{
          color: #003245;
          font-size:40px;	
          margin-top: 0px;
          padding-bottom: 10px;
          text-align: left;
      }
      #letra2{
        color:  #003245;
        font-size:20px;	
        margin-top: 0px;
        align-self: auto;
    }
    mat-panel-title{
        color:  #003245;
        font-size:20px;	
        margin-top: 0px;
        align-self: auto;

    }
      #boton1{
          background: #003245;
          width: 30%;
          margin: 5%;  
      }
      #boton2{
        background: #003245;
        width: 30%;
      
    }
      .img-thumbnail{
        border:600px ;  
      }
    .img-telef{
        margin: 10px;
    }
    .example-full-width{
          width: 50%;      
    }
    
    #panelPrin{
        padding-top: 8%; 
    
      }
    
      #panel{
        text-align: left;
      }
      
.input-group-text{
  background: #003245;
  color: white;
}

.input-group {
  width: 70%!important;
}


////////////////////////////////
.content {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-form {
        padding: 40px;
        width: 500px;
    }
  }
  
  .input-group {
    width: 40%!important;
  }
  
  mat-form-field{
  
  width: 300px;
  text-align: left;
  }
  
  #letra{
      color: #003245;
      font-size:40px;	
      margin-top: 0px;
      padding-bottom: 10px;
      text-align: left;
  }
  #letra2{
    color:  #003245;
    font-size:20px;	
    margin-top: 0px;
    align-self: auto;
  }
  button{
      background: #003245;
      width: 30%;
      margin: 5%;  
  }
  .img-thumbnail{
    border:600px ;  
  }
  .img-telef{
    margin: 10px;
  }
  .example-full-width{
      width: 50%;      
  }
  
  #panelPrin{
    padding-top: 8%; 
  
  }
  
  #panel{
    text-align: center;
  }
  
  mat-radio-button{
    margin: 1%;
  }
  
  //////////////////////
  
  .input-group-text{
    background: #003245;
    color: white;
  }
  
  
  #input1{
    text-align: left;
    display: block;
    border: none;
    height: auto;
    width: 60%;
    background-color: #eaeaea;
    font-size: 18px;
    border-radius: 4px;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #eaeaea inset;
}
  input{
    display: block;
    border: none;
    width: 100%;
    //height: 10%;
    background-color: #eaeaea;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
  }
  .hora{
    display: block;
    border: none;
    width: 100%;
    height: 10%;
    background-color: #eaeaea;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;

  }
  .normal{
    display: block;
    border: none;
    width: 10%;
    background-color:transparent;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
  }
  select{
    display: block;
    border: none;
    width: 280px;
    background-color: #eaeaea;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
  }
  mat-select{
    display: block;
    border: none;
    width: 280px;
    background-color: #eaeaea;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
  }
  .custom-input-file {
      overflow: hidden;
      position: relative;
      cursor: pointer;
  }

  .mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after{
    color: black;
  }
  
.group{
  margin: 4%;
}
