<form id="form"  class="login-form" fxFlex  >
        <div class= "col-lg-8" id="panelPrin"  >
            <h1 id="letra">HISTORIAL</h1>
            <hr class="my-4">
        </div>    
        <div class="row">
        <div class= "col-sm-4" id="panel"   >
            <mat-form-field class="example-full-width" >
                <input matInput [matDatepicker]="picker"  [(ngModel)]="form.fechaInicio"   placeholder="Fecha Inicio"   name="fechaInicio" disabled >
                <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                <mat-datepicker [disabled]="this.historial.disable==true" #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class= "col-sm-4" id="panel"    >    
            <mat-form-field class="example-full-width" > 
                <input matInput   [matDatepicker]="picker2"   [(ngModel)]="form.fechaFin"  placeholder="Fecha Fin"  name="fechaFin" disabled>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 [disabled]="this.historial.disable==true"></mat-datepicker>
            </mat-form-field>
        </div>
        <div class= "col-sm-3" id="panel"  >  
                <mat-radio-group   (change)="onSelectionChange()" name="opciones" [(ngModel)]="form.planta" >
                        <mat-radio-button [disabled]="this.historial.disable==true"    value="15" checked>Planta Interna</mat-radio-button>
                        <mat-radio-button [disabled]="this.historial.disable==true"    value="14" #externa>Planta Externa</mat-radio-button>
                </mat-radio-group> 
    </div>   
        <div id = "Consultar" class= "col-sm-6"    >
            <button id = "boton1" mat-raised-button color="primary"  (click)="consultar()">
                <img src="/fatem-ui/assets/lupa.png">
            </button>
            <button id = "boton2" mat-raised-button color="primary"  (click)="limpiar()">
                <img src="/fatem-ui/assets/bote.png">
            </button>
        </div>  
    </div>
</form>
<ngx-spinner></ngx-spinner>
