#form::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
  
 }

 #form::ng-deep .mat-form-field {
  .mat-input-element {
      color: black;
  }
  .mat-form-field-label {
      color: black;
  }
}

#form::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: black !important;
} 

#form::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: black !important;
 }

.content {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-form {
        padding: 40px;
        width: 500px;
    }
}

  #letra{
      color: #003245;
      font-size:40px;	
      margin-top: 0px;
      padding-bottom: 10px;
      text-align: left;
  }
  #letra2{
    color:  white;
    font-size:20px;	
    margin-top: 0px;
    padding-bottom: 10px;
    align-self: auto;
}
  #boton1{
      background: #003245;
      width: 30%;
      margin: 5%;  
  }
  #boton2{
    background: #003245;
    width: 30%;
  
}
  .img-thumbnail{
    border:600px ;  
  }
.img-telef{
    margin: 10px;
}
.example-full-width{
      width: 50%;      
}

#panelPrin{
    padding-top: 8%; 

  }
