
<div class="container">
<div class="mat-elevation-z8">   
    <app-form3></app-form3>
    <div  *ngIf = "this.ticket.err!= null"  class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong *ngIf = "this.ticket.err==400">Fecha Creacion es obligatoria. </strong> 
        <strong *ngIf = "this.ticket.err==401">No autorizado. </strong> 
        <strong *ngIf = "this.ticket.err==404">No existe data, para la consulta realizada. </strong> 
        <strong *ngIf = "this.ticket.err==411">Se permite un maximo de 6 meses, para consultar. </strong> 
        <strong *ngIf = "this.ticket.err==412">La Fecha Creacion no debe superar a la fecha de hoy. </strong>
        <strong *ngIf = "this.ticket.err==500">Error en el sistema. </strong>
        <strong *ngIf = "this.ticket.err==504">Tiempo de espera excedido. </strong> 
    </div>
    <div class="mb-20"  flFlex flexLayout="row" flexLayout.lt-md="column">
            <div id="scroll" fxFlex>
                    <table width="115px" mat-table [dataSource]="this.ticket.dataTable" >
                <ng-container matColumnDef="idTicket">
                    <th mat-header-cell *matHeaderCellDef> Id Ticket </th>
                    <td mat-cell *matCellDef="let element"> {{element.idTicket}} </td>
                </ng-container>
                <ng-container matColumnDef="fechaCreacion">
                    <th mat-header-cell *matHeaderCellDef> Fecha Creacion </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaCreacion}} </td>
                </ng-container>
                <ng-container matColumnDef="sistema">
                    <th mat-header-cell *matHeaderCellDef> Sistema </th>
                    <td mat-cell *matCellDef="let element"> {{element.sistema}} </td>
                </ng-container>
                <ng-container matColumnDef="cantidad">
                        <th mat-header-cell *matHeaderCellDef> Cantidad Alarmas </th>
                        <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                </ng-container> 
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
            <mat-paginator #paginator  [pageSize]="this.ticket.pageSize"  [showFirstLastButtons]="true" [length]="this.ticket.totalSize"
                [pageIndex]="this.ticket.currentPage" (page)="this.ticket.handlePage($event)">
            </mat-paginator>
    </div>
</div>
</div>



