<div id="css-modal">
    <input id="modal" class="css-modal-check" type="checkbox" checked />
    <div class="css-modal">
      <label (click)='onClose()' for="modal" class="close"></label>
      <div><h2>{{this.amService.estado.state}}</h2></div>
      <div class="css-modal-btn"><a (click)='onClose()'title="OK"><button class="btn btn-primary btn-md">OK</button></a></div>
    </div>
    <div id="overlay"></div>
  </div>
