
  
  #page-wrapper {
    padding: 1.5em;
  }
  
  p.center {
    text-align: center;
  }
   
  /* Modal Styles */
  
  
  #css-modal h2 {
    color:red;
    font-size: 2em;
    letter-spacing: 0.02em;
    padding: 0;
    margin-bottom: 0.5em;
    margin-top: 0;
  }
  
  #css-modal .css-modal-check {
    display: none;
    pointer-events: auto;
  }
  
  #css-modal .css-modal-check:checked ~ .css-modal {
    opacity: 1;
    pointer-events: auto;
  }
  
  #css-modal .css-modal {
    background: #fff;
    border-radius: 3px;
    display: inline-block;
    max-width: 550px;
    opacity: 0;
    padding: 2.25em;
    pointer-events: none;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    z-index: 1;
  }
  
  #css-modal .css-modal p {
    text-align: left;
  }
  
  #css-modal .css-modal .close {
    position: absolute;
    right: 1em;
    top: 0.5em;
  }
  
  #css-modal .css-modal .css-modal-btn button {
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-top: 1em;
  }
  
  #css-modal .css-modal-check:checked ~ #overlay {
    opacity: 0.8;
    pointer-events: auto;
  }
  
  #css-modal #overlay {
    background: #000;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.8s;
  }
  
  #css-modal:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  .close:after {
    color: red;
    content: "\0058";
    float: right;
    font-size: 1.75em;
  }
  
  #css-modal .btn-primary {
    color: #fff;
    background-color:red;
  }
  
  #css-modal .btn-primary:hover {
    background-color: red;
  }
  
  #css-modal .btn {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    padding: 0.75em 1.25em;
    text-align: center;
  }
  