

<div class="container">
<div class="row">
<div class="mat-elevation-z8">  
        <app-form1></app-form1>
        <div  *ngIf = "this.historial.err!= null"  class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong *ngIf = "this.historial.err==400">Los campos son obligatorios {{this.historial.filtro}} </strong> 
            <strong *ngIf = "this.historial.err==401">No autorizado. </strong> 
            <strong *ngIf = "this.historial.err==404">No existe data, para la consulta realizada. </strong> 
            <strong *ngIf = "this.historial.err==410">Fecha inicio es mayor a Fecha Fin. </strong> 
            <strong *ngIf = "this.historial.err==411">Se permite un maximo de 6 meses, para consultar. </strong> 
            <strong *ngIf = "this.historial.err==412">Fecha Fin no puede ser superior a hoy. </strong> 
            <strong *ngIf = "this.historial.err==413">Fecha Fin no puede ser superior a un año. </strong> 
            <strong *ngIf = "this.historial.err==422">Formato de fecha erroneo: "DD/MM/YYYY". </strong> 
            <strong *ngIf = "this.historial.err==500">Error en el sistema. </strong> 
            <strong *ngIf = "this.historial.err==504">Tiempo de espera excedido. </strong> 
        </div>
        <div class="mb-20"  flFlex flexLayout="row" flexLayout.lt-md="column">
            <div id="scroll" fxFlex>
                
                <table width="115px" mat-table [dataSource]="this.historial.dataTable" >
                    <ng-container  matColumnDef="idAlarma">
                        <th mat-header-cell *matHeaderCellDef> Id Alarma </th>
                        <td mat-cell *matCellDef="let element"> {{element.externa.idAlarma}} </td>
                        <td mat-cell *matCellDef="let element"> {{element.interna.idAlarma}} </td>
                    </ng-container>    
                    <ng-container  matColumnDef="cfn">
                        <th mat-header-cell *matHeaderCellDef> Cfn </th>
                        <td mat-cell *matCellDef="let element"> {{element.externa.cfn}} </td>
                    </ng-container>
                    <ng-container  matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef> Fecha </th>
                        <td mat-cell *matCellDef="let element"> {{element.externa.fecha}} </td>
                    </ng-container>
                    <ng-container matColumnDef="agencia">
                        <th mat-header-cell *matHeaderCellDef> Agencia </th>
                        <td mat-cell *matCellDef="let element"> {{element.externa.agencia}} </td>
                        <td mat-cell *matCellDef="let element"> {{element.interna.agencia}} </td>
                    </ng-container>
                    <ng-container matColumnDef="planta">
                            <th mat-header-cell *matHeaderCellDef> Planta </th>
                            <td mat-cell *matCellDef="let element"> {{element.externa.planta}} </td>
                            <td mat-cell *matCellDef="let element"> {{element.interna.planta}} </td>
                    </ng-container>
                    <ng-container matColumnDef="extLocal">
                        <th mat-header-cell *matHeaderCellDef> Ext. Local </th>
                        <td mat-cell *matCellDef="let element"> {{element.externa.extLocal}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cable">
                                <th mat-header-cell *matHeaderCellDef> Cable </th>
                                <td mat-cell *matCellDef="let element"> {{element.externa.cable}} </td>
                    </ng-container>    
                    <ng-container matColumnDef="armario">
                            <th mat-header-cell *matHeaderCellDef> Armario </th>
                            <td mat-cell *matCellDef="let element"> {{element.externa.armario}} </td>
                    </ng-container>  
                    <ng-container matColumnDef="parInicial">
                            <th mat-header-cell *matHeaderCellDef> Par. Inicial </th>
                            <td mat-cell *matCellDef="let element"> {{element.externa.parInicial}} </td>
                    </ng-container>  
                    <ng-container matColumnDef="parFinal">
                            <th mat-header-cell *matHeaderCellDef> Par. Final </th>
                            <td mat-cell *matCellDef="let element"> {{element.externa.parFinal}} </td>
                    </ng-container>
                    <ng-container matColumnDef="detalleCfn">
                            <th mat-header-cell *matHeaderCellDef> Detalle Cfn </th>
                            <td mat-cell *matCellDef="let element"> {{element.externa.detalleCfn}} </td>
                    </ng-container>  
                    <ng-container matColumnDef="creacion">
                            <th mat-header-cell *matHeaderCellDef> Creacion </th>
                            <td mat-cell *matCellDef="let element"> {{element.interna.creacion}} </td>
                    </ng-container>  
                    <ng-container matColumnDef="ticket">
                            <th mat-header-cell *matHeaderCellDef> Ticket </th>
                            <td mat-cell *matCellDef="let element"> {{element.interna.ticket}} </td>
                    </ng-container>  
                    <ng-container matColumnDef="descripcionTicket">
                            <th mat-header-cell *matHeaderCellDef> Descripcion Ticket </th>
                            <td mat-cell *matCellDef="let element"> {{element.interna.descripcionTicket}} </td>
                    </ng-container>  
                    <ng-container matColumnDef="tecno">
                            <th mat-header-cell *matHeaderCellDef> Tecno </th>
                            <td mat-cell *matCellDef="let element"> {{element.interna.tecno}} </td>
                    </ng-container>  
                    <ng-container matColumnDef="motivoFalla">
                            <th mat-header-cell *matHeaderCellDef> Motivo Falla </th>
                            <td mat-cell *matCellDef="let element"> {{element.interna.motivoFalla}} </td>
                    </ng-container>  
                    <ng-container matColumnDef="afectados">
                            <th mat-header-cell *matHeaderCellDef> Afectados </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.interna.afectados}} </td>
                    </ng-container>  
                    <ng-container matColumnDef="atiende">
                            <th mat-header-cell *matHeaderCellDef> Atiende </th>
                            <td mat-cell *matCellDef="let element"> {{element.interna.atiende}} </td>
                    </ng-container>  
                    <tr mat-header-row *matHeaderRowDef="this.historial.column"></tr>
                    <tr mat-row *matRowDef="let row; columns: this.historial.column;"></tr>
            </table>
            </div>
                <mat-paginator  #paginator  [pageSize]="this.historial.pageSize"  [showFirstLastButtons]="true" [length]="this.historial.totalSize"
                    [pageIndex]="this.historial.currentPage" (page)="this.historial.handlePage($event)">
                </mat-paginator>
        </div>
        </div>
        
</div>
</div>


