<form id="form"  class="login-form" fxFlex  >
  <div class= "col-lg-8" id="panelPrin"  >
      <h1 id="letra">TICKETS</h1>
      <hr class="my-4">
  </div>    
  <div class="row">
  <div class= "col-sm-8" id="panel"    >    
      <mat-form-field class="example-full-width">
          <input matInput  [matDatepicker]="picker2" [(ngModel)]="form.fechaCreacion"  placeholder="Fecha Creacion" name="fechaCreacion" disabled required>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 [disabled]="this.ticket.disable==true"></mat-datepicker>
        </mat-form-field>
  </div>   
  <div id = "Consultar" class= "col-sm-6"    >
      <button id = "boton1" mat-raised-button color="primary"  (click)="consultar()">
          <img src="/fatem-ui/assets/lupa.png">
      </button>
      <button id = "boton2" mat-raised-button color="primary"  (click)="limpiar()">
          <img src="/fatem-ui/assets/bote.png">
      </button>
  </div>  
</div>
</form>
<ngx-spinner></ngx-spinner>