<form id="form" class="login-form" fxFlex  >
    
        <div class= "col-lg-8" id="panelPrin"  >
            <h1 id="letra">ALARMAS</h1>
            <hr class="my-4">
        </div>     
        <div class="row">
                <div class= "col-sm-5" id="panel"     >    
                        <div class="input-group-prepend" >
                          <label class="input-group-text">Zona</label>
                        <select class="custom-select"  [(ngModel)]="opcionZona"  (change)="CapturaZona()" name='opcionZona' [disabled]="this.alarmas.disable==true" >
                            <option></option>
                            <option *ngFor="let zona of zonas" [value]="zona.id" >
                              {{zona.nombre}}
                          </option>
                        </select>
                      </div>
                </div>
                      <div class= "col-sm-5" id="panel"    >    
                        <div class="input-group-prepend">
                          <label class="input-group-text" >Agencia</label>
                        <select class="custom-select" [(ngModel)]="opcionAgencia" (change)="CapturaAgencia()"   name='opcionAgencia' [disabled]="this.alarmas.disable==true" >
                          <option></option>
                            <option *ngFor="let agencia of agencias" [value]="agencia.id" >
                              {{agencia.nombre}}
                          </option>
                        </select>
                    </div>
                </div>
        <!--<div class= "col-sm-3" id="panel"    >
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="form.zona" placeholder="Zona"  name="zona" [disabled]="this.disable==true" >
            </mat-form-field>
        </div>-->
        <div class= "col-sm-8" id="panel"    >    
        <div class= "col-sm-3" id="panel"    >    
            <mat-form-field class="example-full-width">
                <input matInput  [(ngModel)]="form.planta"  placeholder="Planta" name="planta" [disabled]="this.alarmas.disable==true"  >
            </mat-form-field>
        </div>
        <div class= "col-sm-3" id="panel"    >
            <mat-form-field class="example-full-width" >
                <input matInput  [(ngModel)]="form.elemento"  placeholder="Elemento" name="elemento" [disabled]="this.alarmas.disable==true"  >
            </mat-form-field>
        </div>
    </div>
        <div class= "col-sm-6"    >
            <button id = "boton1" mat-raised-button color="primary"  (click)="consultar()">
                <img src="/fatem-ui/assets/lupa.png">
            </button>
            <button id = "boton2" mat-raised-button color="primary"  (click)="limpiar()">
                <img src="/fatem-ui/assets/bote.png">
            </button>
        </div>  
    </div>
    <div  *ngIf = "valida==true"  class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong *ngIf = "valida==true">Error en la consulta de datos, si ingresa Zona debe ingresar Agencia </strong> 
        </div>
</form>
<ngx-spinner></ngx-spinner>

