
<div class="container">
<div class="mat-elevation-z8">  
    <app-form2></app-form2>
    <div  *ngIf = "this.alarmas.err!= null"  class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong *ngIf = "this.alarmas.err==400">Error en la consulta de datos, al menos debe ingresar un filtro. </strong> 
        <strong *ngIf = "this.alarmas.err==401">No autorizado. </strong> 
        <strong *ngIf = "this.alarmas.err==404">No existe data, para la consulta realizada. </strong> 
        <strong *ngIf = "this.alarmas.err==500">Error en el sistema. </strong> 

    </div>
    <div class="mb-20"  flFlex flexLayout="row" flexLayout.lt-md="column">
            <div id="scroll" fxFlex>
                    <table width="115px" mat-table [dataSource]="this.alarmas.dataTable" >
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id Alarma </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="fechaevento">
                    <th mat-header-cell *matHeaderCellDef> Fecha Evento </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaEvento}} </td>
                </ng-container>
                <ng-container matColumnDef="gravedad">
                    <th mat-header-cell *matHeaderCellDef> Gravedad </th>
                    <td mat-cell *matCellDef="let element"> {{element.gravedad}} </td>
                </ng-container>
                <ng-container matColumnDef="zona">
                    <th mat-header-cell *matHeaderCellDef> Agencia </th>
                    <td mat-cell *matCellDef="let element"> {{element.zona}} </td>
                </ng-container>
                <ng-container matColumnDef="elemento">
                        <th mat-header-cell *matHeaderCellDef> Elemento </th>
                        <td mat-cell *matCellDef="let element"> {{element.elemento}} </td>
                </ng-container>
                <ng-container matColumnDef="diagnostico">
                        <th mat-header-cell *matHeaderCellDef> Impacto </th>
                        <td mat-cell *matCellDef="let element" > {{element.diagnostico}} </td>
                </ng-container>
                <ng-container matColumnDef="planta">
                        <th mat-header-cell *matHeaderCellDef> Planta </th>
                        <td mat-cell *matCellDef="let element"> {{element.planta}} </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Tipo Alarma </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombreElemento}} </td>
                </ng-container>
                <ng-container matColumnDef="totalclientes">
                            <th mat-header-cell *matHeaderCellDef> Total Clientes </th>
                            <td mat-cell *matCellDef="let element"  style="text-align: center;"> {{element.totalCliente}} </td>
                </ng-container>    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
            <mat-paginator #paginator  [pageSize]="this.alarmas.pageSize"  [showFirstLastButtons]="true" [length]="this.alarmas.totalSize"
                [pageIndex]="this.alarmas.currentPage" (page)="this.alarmas.handlePage($event)">
            </mat-paginator>
    </div>
</div>
</div>