

.mat-elevation-z8{
    padding-top: 15%;
    background:#EDEBEA;
    width: 100%;
    padding: 2%;

    #scroll{
        overflow-x:scroll;

    }
    
    td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
        padding: 1%;
 
    }
        .mb-20 {
            margin-bottom: 20px;
            padding-top: 5%;
            width: 100%;
        }
        .mat-table {
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }
        table {
            width: 100%;
        }
        th{
            background: #003245;
            color: #EDEBEA;
            font-size: 15px;
        }

}

mat-paginator{
    font-size: 15px;
}