
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-material-primary: mat-palette($mat-indigo);
$ng-material-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-material-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ng-material-theme: mat-light-theme($ng-material-primary, $ng-material-accent, $ng-material-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-material-theme);

@import 'material';
@import 'main';
@import 'utils';
@import 'responsive';
@import 'bootstrap.css';
@import 'materialIcon.css';
@import 'roboto.css';
@import '../../node_modules/font-awesome/css/font-awesome.min.css';
@import '../styles/icon.css';
@import '~igniteui-angular/lib/core/styles/themes/index';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.filter-option > .mat-pseudo-checkbox {
  display: none !important;
}

.filter-sidenav .mat-list-item-content {
  padding: 0 10px !important;
  font-size: 0.875rem !important;
}

.filter-sidenav .mat-select-trigger {
  font-size: 1rem !important;
}

.mat-paginator-page-size {
  color: white;
}

html{
  /* la imagen a ser mostrada a pantalla completa */

  background:url(/assets/principal.jpg) no-repeat center center;

  /* nos aseguramos que el elemento ocupe toda la ventana del navegador */
  min-height:100%;

  /* Propiedad a utilizar para la imagen */
  background-size:cover;
}

@import "~ng-pick-datetime/assets/style/picker.min.css";
