
$sombraC:rgba(56,38,56,1);

.navbar{
    background: #003245;

}
.dropdown-item{
    background: #003245;
    color: #fff;
}
.dropdown-menu{
    background: #003245;

}
.dropdown{
    margin: 10px;
}
.navbar-nav {
    padding-left: 0%;

}
:host {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
.nav-brand {
    width: 215px;
    text-align: center;
}
.topnav-icon {
    text-decoration: none;
    display: flex;
    color: #fff;
}

.nav-spacer {
    flex: 1 1 auto;
}
mat-icon{
    color: white;
}

.visible-md {
    display: none;
}
.visible-sm {
    display: none;
}
@media screen and (max-width: 992px) {
    .visible-md {
        display: block;
    }
}


#sombra{
    -webkit-box-shadow: 0px 15px 25px 0px $sombraC;
   -moz-box-shadow:0px 15px 25px 0px $sombraC;
   box-shadow: 0px 15px 25px 0px $sombraC;
   }
mat-nav-list{
    padding-top: 0%;
    border:none;  
}
#dropdown{
    margin: 0%;
}
@media screen and (max-width: 768px) {
    .visible-sm {
        display: block;
    }
    .nav-brand {
        width: 100%;
        position: absolute;
    }
}
@media screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
}
#letraMenu{
    color: white;
    font-size:15px;	
    margin-top: 0px;
    padding-bottom: 10px;
    text-align: center;
    margin: 20px;
}
.sidenav-container {
    height: 100%;
}
.mat-list-item{
    color: white;
}
.sidenav {
    width: 250px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}


#letra{
    color: white;
    font-size:20px;	
    margin-top: 0px;
}

#letraSub{
    color: white;
    font-size: 12px;	
    margin-top: 0px;
}
#Portada {
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
  }
#Fondo-Portada {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
  }

  .sidenav-icon {
    text-decoration: none;
    padding: 0 10px;
}

/*---------------------------INDICE
# IDENTIDAD CORPORATIVA
  * COLORES
    = LETRA
    = FONDOS
    = BORDES

  * TIPOGRAFIAS
    = TIPOS
    = ICONOS

  * IMAGENES
    = FONDOS
    = GRADIANTES    = VECTORIAL
    = ICONOS
      ||FONTAWESOME
      ||MATERIAL DESIGN
      ||METARIAL DESIGN 2
      ||SVG
      ||PNG

# FRAMEWORK
  * ETIQUETAS
  * ESTRUCTURALES
  * COMPONENTES
    = ALERTAS
    = MODAL
    = TOOLTIP
  * PERSONALIZADAS
    = MENU LATERAL
    = MENU SUPERIOR
    = MENU DERECHA
    = MARCO
    = SECCIONES
  * CORRECTORAS

#MULTIMEDIA
  * ANIMACIONES

  * MEDIA QUERIES
    = MAXIMO DESDE
    = MINIMO DESDE
*/

/*//////////////////////////////////////
****************************** * COLORES
//////////////////////////////////////*/

/*===================== = LETRA*/
.letra-azul-ita,
.menu.lateral .enlace:hover,
.menu.lateral .enlace:focus,
.menu.superior .subir-carpeta::before,
.menu.superior .subir-carpeta:hover::after,
.menu.superior .subir-carpeta:focus::after,
.menu.superior .buscador:hover,
.menu.superior .buscador:focus,
.menu.superior .grupo.buscar:hover::before,
.grupo.detalles .enlineado[class*=ordena],
.modal input,
.atras:hover, .atras:focus
{ color: #01435e }

.letra-negro,
.enlace,
.boton,
.grupo.detalles .enlineado,
.migaja-pan,
.ventana,
.enlineado.icon-fa.codigo::before

{ color: rgb(250, 248, 248) }

.letra-gris-azulado,
.ventana .enlineado::before
{ color: rgb(251, 253, 255); }


/*==================== = FONDOS*/


.fondo-azul-ita,
.menu.superior .boton.subir-archivo,
.menu.superior .boton:hover,
.menu.superior .boton:focus,
.menu-derecha .marco-foto,
.ventana .carpeta:hover,
.ventana .documento:hover,
.modal .boton,
.modal input:focus
{  background-color:#003245; }

.fondo-azul-ita.alfa0,
.menu-derecha .submenu
{  background-color: rgba(44, 155, 210, 0); }

.fondo-negro
{ background-color: rgb(0, 0, 0); }

.fondo-gris-claro,
.menu.lateral
{ background-color: rgb(245,245,248); }

.fondo-blanco,
.contenido,
.menu.lateral .logo,
.menu.superior .boton
{ background-color: rgb(255,255,255); }

.fondo-blanco.alfa01
{ background-color: rgba(255,255,255,.1); }
.fondo-blanco.alfa02
{ background-color: rgba(255,255,255,.2); }
.fondo-blanco.alfa03
{ background-color: rgba(255,255,255,.3); }
.fondo-blanco.alfa05
{ background-color: rgba(255,255,255,.5); }
.fondo-blanco.alfa08
{ background-color: rgba(255,255,255,.8); }
.fondo-blanco.alfa09
{ background-color: rgba(255,255,255,.9); }

/*==================== = GRADIANTES*/

.gradiante-radial-ita,
.menu.superior .boton.subir-archivo
{
  background-image: 
    radial-gradient(
      ellipse at center, 
      white 0%,
      #003245 100%); 
}

.gradiante-lineal-ita.deg160,
.menu-derecha .marco-foto,
.menu-derecha .submenu,
.fondo-jefe-1
{
  background-image: 
     linear-gradient( 
      40deg, 
      white 1%,
      #003245 60%); 
}

.gradiante-lineal-ita,
.ventana .carpeta:hover,
.ventana .documento:hover,
.modal .boton.aceptar
{
  background-image: 
     linear-gradient( 
      90deg, 
      white 0%,
      #003245 100%); 
}

/*==================== = BORDES*/

.borde-negro
{ border-color: rgb(0, 0, 0); }

.borde-gris
{ border-color: rgb(200, 200, 200); }

.borde-blanco
{ border-color: rgb(255,255,255); }



/*//////////////////////////////////////
************************** * TIPOGRAFIAS
//////////////////////////////////////*/

/*===================== = TIPOS*/

.letra-1,
body,
.menu.superior .buscador::placeholder,
.modal .boton,
[data-tooltip]::after,
button
{ font-family: 'Open Sans', sans-serif; }

.letra-2,
.menu-derecha .marco-foto.no-foto::before,
.menu.superior .buscador,
.mote:not(.nadie),
.modal input
{ font-family: 'Montserrat', sans-serif; }

.letra-3,
input,
.modal input::placeholder
{ font-family: 'Exo', sans-serif; }

/*================ = ICONO FONT*/

.letra_icon-fa,
.icon-fa::before,
.icon-fa::after,
.icon-fa-despues::after

{ font-family: 'FontAwesome';}

.letra_icon-md,
.icon-md::before
{ font-family: 'Material Icons';}

.letra_icon-md2,
.icon-md2::before
{ font-family: 'Material-Design-Iconic-Font';}

/*//////////////////////////////////////
***************************** * IMAGENES
//////////////////////////////////////*/

/*||FONTAWESOME*/
.icon-fa.grafica-torta::before,
.icon-fa-despues.grafica-torta::after,
.reporte-diario .icon-fa::before
{  content: '\f200';
}

.icon-fa.empresa::before,
.icon-fa-despues.empresa::after,
.archivos-ita .icon-fa::before
{  content: '\f0f7'; }

.icon-fa.maletin::before,
.icon-fa-despues.maletin::after,
.mi-maletin .icon-fa::before
{  content: '\f0b1'; }

.icon-fa.reciente::before,
.icon-fa-despues.reciente::after,
.reciente .icon-fa::before
{  content: '\f1da'; }

.icon-fa.favoritos::before,
.icon-fa-despues.favoritos::after,
.favoritos .icon-fa::before,
.icon-fa.destacado::after
{  content: '\f005'; }

.icon-fa.notas::before,
.icon-fa-despues.notas::after,
.notas .icon-fa::before
{  content: '\f0f6'; }

.icon-fa.proyectos::before,
.icon-fa-despues.proyectos::after,
.proyectos .icon-fa::before
{  content: '\f0e8'; }

.icon-fa.proyectos::before,
.icon-fa-despues.proyectos::after,
.proyectos .icon-fa::before
{  content: '\f0e8'; }

.icon-fa.subir-archivo::before,
.icon-fa-despues.subir-archivo::after,
.subir-archivo .icon-fa::before
{  content: '\f0ee'; }

.icon-fa.carpeta::before,
.icon-fa.subir-carpeta::before,
.icon-fa.carpeta::before
{  content: '\f07b'; }

.icon-fa.archivo::before,
.icon-fa.documento::before
{  content: '\f016'; }

.icon-fa.flecha-larga-arriba::before,
.icon-fa.subir-carpeta::after
{  content: '\f176'; }

.icon-fa.buscar::before,
.icon-fa-despues.buscar::after,
.buscar .icon-fa::before
{  content: '\f002'; }

.icon-fa.flecha-derecha::before,
.icon-fa-despues.flecha-derecha::after,
.panel.usuario:hover .cerrar:focus + a.enlace.usuario::after
{  content: '\f0da'; }

.icon-fa.flecha-abajo::before,
.icon-fa-despues.flecha-abajo::after,
.icon-fa .flecha-abajo::before,
.panel.usuario:hover .enlace.usuario::after,
.menu-derecha .enlace.usuario:hover::after,
.menu-derecha .enlace.usuario:focus::after,
.icon-fa.flecha-orden.ordena-menor::before
{ content: '\f0d7'; }

.icon-fa.flecha-orden::before,
.icon-fa-despues.flecha-orden::after,
.flecha-orden .icon-fa::before
{  content: '\f0dc'; }

.icon-fa.word::before,
.icon-fa-despues.word::after,
.word .icon-fa::before
{  content: '\f1c2'; }

.icon-fa.powerpoint::before,
.icon-fa-despues.powerpoint::after,
.powerpoint .icon-fa::before
{  content: '\f1c4'; }

.icon-fa.excel::before,
.icon-fa-despues.excel::after,
.excel .icon-fa::before
{  content: '\f1c3'; }

.icon-fa.imagen::before,
.icon-fa-despues.imagen::after,
.imagen .icon-fa::before
{  content: '\f1c5'; }

.icon-fa.pdf::before,
.icon-fa-despues.pdf::after,
.pdf .icon-fa::before
{  content: '\f1c1'; }

.icon-fa.codigo::before,
.icon-fa-despues.codigo::after,
.codigo .icon-fa::before
{  content: '\f1c9'; }

.icon-fa.html::before,
.icon-fa-despues.html::after,
.html .icon-fa::before
{  content: '\f13b'; }

.icon-fa.css::before,
.icon-fa-despues.css::after,
.css .icon-fa::before
{  content: '\f13c'; }

.icon-fa.zip::before,
.icon-fa-despues.zip::after,
.zip .icon-fa::before
{  content: '\f1c6'; }

.icon-fa.video::before,
.icon-fa-despues.video::after,
.icon-fa.video::before
{  content: '\f1c8'; }

.icon-fa.desconectar::before,
.icon-fa-despues.desconectar::after,
.icon-fa.desconectar::before
{  content: '\f08b'; 
color: rgb(200, 200, 200);}

.icon-fa.atras::before,
.atras .icon-fa.volver::before
{  content: '\f112'; }

/*||MATERIAL DESIGN*/
/*||METARIAL DESIGN 2*/
/*||SVG PERSONALIZADO*/
/*||PNG PERSONALIZADO*/

/*//////////////////////////////////////
***************************** *ETIQUETAS
//////////////////////////////////////*/

*, *::before, *::after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html, body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  background-color: #d3d3d3;
}

b, strong{
  font-weight: 400;
}

ul:not(.lista),
:not(.lista) li{
  list-style-type: none;
}

input{
  display: inline-block;
  width: 100%;
}

a{
  display: inline-block;
}

/*==================== = MENU DERECHA*/

.menu-derecha{
  //font-size: 18px;
}

.menu-derecha .panel.usuario{
  display: inline-block;
  position: relative;
}

.menu-derecha .enlace.usuario{
  padding-left: 0.8em;  
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}

.menu-derecha .enlace.usuario:focus{
  outline: none;
}

.menu-derecha .enlace.usuario::before,
.menu-derecha .enlace.usuario::after{
  width: 2.5em;
  height: 4rem;
  line-height: 4rem;
  text-align: center;  
  transition: all .3s ease;
}

.menu-derecha .enlace.usuario::before{
  content: '';
  box-shadow: inset 1px 0 0 rgba(50,50,50,0.05); 
  position: absolute;
  right: 0;
  top: 0;
}

.panel.usuario:hover .enlace
{
  transition-delay: .5s;
}

.panel.usuario:hover .enlace.usuario::before,
.menu-derecha .enlace.usuario:hover::before,
.menu-derecha .enlace.usuario:focus::before{
  //box-shadow: inset 1px 0 0 rgba(44,155,210,0.5);
  transition-delay: .5s;
}

.panel.usuario .cerrar{
  position: absolute;
  width: 0;
  height: 4rem;
  right: 0;
  top: 0;
  z-index: 5;
  cursor: resize-y;
  display: none;
}

.panel.usuario .cerrar:focus{
  pointer-events: none;
}

.panel.usuario:hover .cerrar{
  width: 100%;
  display: inline-block;
}

.panel.usuario:hover .cerrar:focus ~ .grupo.submenu{
  max-height: 100%;
}

.menu-derecha .marco-foto,
.menu-derecha .nombre.enlace,
.menu-derecha .enlace.usuario::after{
  display: inline-block;
  vertical-align: middle;  
}

.menu-derecha .marco-foto{
  background-color: #ddd;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.menu-derecha .marco-foto.no-foto::before{
  content: attr(data-mote);
  display: block;
  position: absolute;
  color: white;
  width: 2.5em;
  line-height: 2.6em;
  text-align: center;
}

.menu-derecha .no-foto .foto{
  display: none;
}

.menu-derecha .foto{
  background-color: #003245;
  display: block;
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  min-height: 110%;
  color: #fff;
}

.menu-derecha .nombre.enlace{
  padding: 0.4em 0.6em;
}

.menu-derecha .enlace.usuario + .submenu{
/*   opacity: 0; */
  transition: all ease .4s;
  position: absolute;
  padding-top: 4em;
  width: 100%;
  left: 0;
  opacity: 1;
  top: 0;
  z-index: 1;
  text-align: right;
  overflow: hidden;
  max-height: 4em;
  background-position: 0 4rem;
  background-repeat: no-repeat;
}

.panel.usuario:hover .enlace.usuario + .submenu,
.menu-derecha .enlace.usuario:focus + .submenu
{
  max-height: 10em;
  background-position: 0 0;
  transition-delay: .4s;
}

.submenu .opcion{
  position: relative; 
  text-align: right;
}

.submenu .opcion::after
{
  position: absolute;
  top: 0.3em;
  right: 0;
  width: 2.5em;
  line-height: 2.5em;
  text-align: center;
  height: 100%;
  height: calc(100% - 0.6em);
  box-shadow: inset 1px 0 0 0 rgba(44,155,205,.5);
}

.submenu .enlace{
  width: 100%;
  padding: 0.8em 1em;
  padding-right: 3em;
  position: relative;
  background-color: rgba(43,51,104,0.2);
  transition: all ease .3s;
}

.submenu .opcion:hover .enlace{
  background-color: #003245;  
}





/*//////////////////////////////////////
************************** * COMPONENTES
//////////////////////////////////////*/


.fondo-img.cover-centro{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fondo-img.cover-arriba{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.fondo-img.cover-abajo{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.fondo-img.cover-paralax{
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.fondo-icono{ 
  background-repeat: no-repeat;
  background-position: center; 
}

.ventanas-emergentes{
  position: absolute;
  top: -100vh;
  opacity: 0;
  pointer-events: none;
}

.enlace{
  text-decoration: none;
  border: none;
  font-size: 1em;
}

/*============================================ = TOOLTIP*/
[ver-clase] *,
[data-tooltip]
{position: relative; }

[ver-clase]:hover::after, [ver-clase] *:hover::after,
[data-tooltip]:hover::after,
[data-tooltip]:hover::before
{opacity: 1; transition: all ease .3s .3s;}

[ver-clase]::after, [ver-clase] *::after,
[data-tooltip]::after
{
  position: absolute;
  top: 101%;
  top: calc(100% + 0.5em);
  right: 0%;
  background-color: white;
  color: #999;
  border-radius: 3px;
  font-size: 0.9em;
  font-weight: 400;
  display: inline-block;
  line-height: 1.2em;
  min-width: 12em;
  padding: 0.6em 1em;
  opacity: 0;
  z-index: 500;
  text-transform: Uppercase;
  box-shadow: 0.2em 0.2em 0.5em 0.2em rgba(0,0,0,0.1);
}

[data-tooltip]::after,
[data-tooltip]::before
{  pointer-events: none; }

[ver-clase]::after, [ver-clase] *::after
{  content: 'clase: ' attr(class); }

[data-tooltip]::after
{  content: attr(data-tooltip); }

[data-tooltip]::before{
  content: '';
  position: absolute;
  top: calc(100% + 0.5em);
  display: block;
  padding: 0.3em;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
  opacity: 0;
  background-color: #fff;
}


/*//////////////////////////////////////
************************** * ANIMACIONES
//////////////////////////////////////*/

@keyframes aparece-creciendo{
  0% {transform: scale(0); opacity: 0;}
}

@keyframes aparece-izq-der{
  0% {transform: translateX(-100%); opacity: 0;}
}

@keyframes aparece-izq-centro{
  0% {transform: translateX(-150%) translateY(-50%); opacity: 0;}  
  80% {transform: translateX(-45%) translateY(-50%); opacity: 1;}  
}

@keyframes desaparece-der-izq{
  100% {transform: translateX(100%); opacity: 0;}
}

@keyframes desaparece-centro-izq{
  20% {transform: translateX(-45%) translateY(-50%); opacity: 1;}  
  100% {transform: translateX(-150%) translateY(-50%); opacity: 0;}
}

/*//////////////////////////////////////
************************ * MEDIA QUERIES
//////////////////////////////////////*/

/*============== = MAXIMO DESDE*/

@media (max-width: 1200px){}
@media (max-width: 960px){}
@media (max-width: 720px){}
@media (max-width: 680px){}
@media (max-width: 680px) and (orientation: landscape){}
@media (max-width: 460px){}

/*================ MINIMO DESDE*/

@media (min-width: 460px){}
@media (min-width: 680px){}
@media (min-width: 680px) and (orientation: landscape){}
@media (min-width: 720px){}
@media (min-width: 960px){}
@media (min-width: 1200px){}
@media (min-width: 1400px){
  .marco .nombre{
/*     max-width: 26rem; */
  }
}








/*CLASES DE TESTING*/
.test, 
.test *
{box-shadow: 0 0 0 1px rgba(0,0,0,0.1);}





/*//////////////////////////////////////
**************************** CORRECTORAS
//////////////////////////////////////*/

// Variables
$baseMenuBackground: #003245;          // Base color theme
$secondaryMenuBackground: #003245;  // Secondary color (highlights, triangles...)
$gutter: 10px;                      // Base gutter

// Latest CSS box model 
*, *:after, *:before {
  box-sizing: border-box; 
}

// The classic hamburger icon
// <button class="animenu__toggle">
//   <span class="animenu__toggle__bar"></span>
//   <span class="animenu__toggle__bar"></span>
//   <span class="animenu__toggle__bar"></span>
// </button>
.animenu__toggle {
  display: none;
  cursor: pointer;
  background-color: $baseMenuBackground;
  border: 0; 
  padding: 10px;
  height: 40px;
  width: 40px;

  &:hover {
    background-color: $secondaryMenuBackground;
  }
}

.animenu__toggle__bar {
  display: block;
  width: 20px; height: 2px;
  background-color: white;    
  transition: .15s cubic-bezier(0.75, -0.55, 0.25, 1.55);

  &+.animenu__toggle__bar {
    margin-top: 4px;
  }  
}

.animenu__toggle--active {
  .animenu__toggle__bar {
    margin: 0;
    position: absolute;

    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }        
  }
}

// Clear some defaults
.animenu {
  display: block;
  ul {
    padding: 0;
    list-style: none;    
    font: 0 -apple-system,
            BlinkMacSystemFont,   
            "Segoe UI",          
            "Roboto",
            "Helvetica Neue", Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";    
  }

  li, a {
    display: inline-block;
    font-size: 15px;
  }

  a {
    color: $baseMenuBackground;
    text-decoration: none;
  }
}

// First level -> main menu items
// <nav class="animenu">
//    <ul class="animenu__nav">
//    ...
//    </ul>
//  </nav>
.animenu__nav {
  background-color: $baseMenuBackground;        

  > li {
    position: relative;
    border-right: 1px solid $baseMenuBackground;

    > a {
      padding: $gutter 3 * $gutter;
      text-transform: uppercase; 
    }    

    &:hover {
      > ul {
        opacity: 1;
        visibility: visible;
        margin: 0;        
      }

      > a {
        color: white;
      }
    }

    // Duplicate stuff due to 
    // https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/16651302/
    &:focus-within {
      > ul {
        opacity: 1;
        visibility: visible;
        margin: 0;        
      }
      
      > a {
        color: white;
      }
    }    
  }

  &__hasDropdown:before { 
    content:""; 
    position: absolute;
    border: 4px solid transparent;
    border-bottom: 0; 
    border-top-color: currentColor;
    top: 50%;
    margin-top: -2px;
    right: 10px;  
  }   
}

// Second level
// <nav class="animenu">
//    <ul class="animenu__nav">
//      <li>
//        <ul class="animenu__nav__dropdown"></ul>
//      </li>
//    </ul>
//  </nav>
.animenu__nav__dropdown {
  min-width: 100%;
  position: absolute;
  top: 100%; left: 0;
  z-index: 1;   
  opacity: 0;
  visibility: hidden;
  margin: 2 * $gutter 0 0 0;
  background-color: $baseMenuBackground;    
  transition: margin .15s, opacity .15s;

  > li {
    width: 100%;
    border-bottom: 1px solid $baseMenuBackground;

    &:first-child > a:after {
      content: '';
      position: absolute;
      height: 0; width: 0;
      left: 1em;
      top: -6px;
      border: 6px solid transparent;
      border-top: 0;
      border-bottom-color: inherit;
    }

    &:last-child {
      border: 0;
    }
  }

  a {
    padding: $gutter;
    width: 100%;
    border-color: $baseMenuBackground;

    &:hover {
      background-color: $secondaryMenuBackground;
      border-color: $secondaryMenuBackground;
      color: white;
    }

    // Duplicate stuff due to 
    // https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/16651302/    
    &:focus-within {
      background-color: $secondaryMenuBackground;
      border-color: $secondaryMenuBackground;
      color: white;
    }    
  }
}

// The main breakpoint is 767px
// Adjust the first and second levels display
@media screen and (max-width: 767px) {
  .animenu__toggle {
    display: inline-block;
  }

  .animenu__nav,
  .animenu__nav__dropdown {
    display: none;
  }

  // First level -> main menu items
  // <nav class="animenu">
  //    <ul class="animenu__nav">
  //    ...
  //    </ul>
  //  </nav>    
  .animenu__nav {
    margin: $gutter 0;

    > li {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid $baseMenuBackground;

      &:last-child {
        border: 0; 
      }

      &:first-child > a:after {
        content: '';
        position: absolute;
        height: 0; width: 0;
        left: 1em;
        top: -6px;
        border: 6px solid transparent;
        border-top: 0;
        border-bottom-color: inherit;
      }

      > a {
        width: 100%;
        padding: $gutter;
        border-color: $baseMenuBackground;
        position: relative; //dropdown caret
      }
    }

    a:hover {
      background-color: $secondaryMenuBackground;
      border-color: $secondaryMenuBackground;
      color: white;      
    }
  }

  // Second level
  // <nav class="animenu">
  //    <ul class="animenu__nav">
  //      <li>
  //        <ul class="animenu__nav__dropdown"></ul>
  //      </li>
  //    </ul>
  //  </nav>              
  .animenu__nav__dropdown {
    position: static;
    background-color: $baseMenuBackground;
    margin: 0;
    transition: none;
    visibility: visible;
    opacity: 1;     

    > li:first-child > a:after {
      content: none;
    }

    a {
      padding-left: 2 * $gutter;
      width: 100%;
    }           
  }
}

// Expanding the animenu
// <nav class="animenu">
//    <ul class="animenu__nav animenu__nav--open">
//      <li>
//        <ul class="animenu__nav__dropdown"></ul>
//      </li>
//    </ul>
//  </nav>
.animenu__nav--open {
  display: block !important;

  & .animenu__nav__dropdown {
    display: block;
  }
}