<mat-nav-list id="sombra">
<nav class="navbar navbar-expand-lg navbar-light">
        <a class="nav-link"> <img  width="115px" height="40px" margin="40px" src="/fatem-ui/assets/telefo.png"  class="img-telef"  ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <img src="/fatem-ui/assets/menu.png">
    </button>
  <div  class="collapse navbar-collapse" id="navbarNavDropdown" >
      <ul class="animenu__nav">
      <li id="dropdown" class="nav-item dropdown">
          <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/bienvenida']"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <h4 id="letraMenu" >INICIO</h4> 
          </a>
      </li>
      </ul>
      <ul class="animenu__nav">
          <li>
            <a class="animenu__nav__hasDropdown" aria-haspopup="true" mat-list-item [routerLinkActive]="'active'" [routerLink]="">
                <h4 id="letraMenu">CONSULTAS</h4> 
            </a>
            <ul class="animenu__nav__dropdown" aria-label="submenu" style="text-align: center;">
                <a class="menuitem" [routerLink]="['/dashboard1']"><h1 id="letraSub">HISTORIAL</h1></a>
                <a class="menuitem" [routerLink]="['/dashboard2']"><h1 id="letraSub">ALARMAS</h1></a>
                <a class="menuitem" [routerLink]="['/dashboard3']"><h1 id="letraSub">TICKETS</h1></a>
        </ul>
        </li>
        </ul>
      <ul class="animenu__nav">
      <li>
      <a class="animenu__nav__hasDropdown" aria-haspopup="true" mat-list-item [routerLinkActive]="'active'" [routerLink]="">
        <h4 id="letraMenu" >MANTENEDOR</h4> 
      </a>
      <ul class="animenu__nav__dropdown" aria-label="submenu" style="text-align: center;">
          <a class="dropdown-item" [routerLink]="['/mantenedor-informativo']"><h1 id="letraSub">MARCA INFORMATIVA</h1></a>
      </ul>
    </li>
    </ul>
      <!--
      <li class="nav-item">
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="">
                <div>
                    <h4 id="letraMenu">ADMINISTRADOR DE USUARIO</h4> 
                </div>
            </a>
      </li>-->
  </div>
<section class="enlineado grupo enlinear menu-derecha">
  <div class="grupo panel usuario">
    <a href="#" class="cerrar"></a>
    <a href="#" class="enlace usuario enlineado icon-fa-despues flecha-derecha">
      <figure class="marco-foto perfil icon-fa" data-mote="EG">
        <img class="foto usuario" src="/fatem-ui/assets/login.jpg" alt="EG">
      </figure>
      <span class="nombre enlace">{{this.login.getUserLoggedIn()}}  </span>     
    </a>
    <ul class="grupo submenu usuario enlineado">
      <li class="item opcion icon-fa-despues">
        <button href="#" class="enlace opcion"> Perfil: {{this.login.getPerfil()}} </button>
      </li>
      <li class="item opcion icon-fa-despues desconectar">
        <a href="/login" (click)="onLoggedout()" class="enlace logout"> Desconectar </a>
      </li>
    </ul>			
  </div>
</section>	

<!--
  <div class="collapse navbar-collapse">
    <mat-icon>account_circle</mat-icon>
      <h4 id="letra">
        <u>
            {{this.login.getUserLoggedIn()}}
        </u>
      </h4> 
      <div class="sign-out-icon">
        <span (click)="onLoggedout()" class="fa fa-power-off" >
          </span>
      </div>
  </div>-->
  <!--<div class="collapse navbar-collapse">
      <h4 id="letra">
        <u>
            {{this.login.getPerfil()}}
        </u>
      </h4> 
  </div>-->
</nav>

</mat-nav-list>



